parameters:
	level: max
	paths:
		- src
		- tests
	tmpDir: /var/www/html/storage/phpstan-cache
	reportUnmatchedIgnoredErrors: true

includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
